.trusted_logos-marquee {
    display: flex;
    flex-shrink: 0;
    animation: marquee 20s linear infinite;
    will-change: transform;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
