@import "../../node_modules/lenis/dist/lenis.css";
@import "./modules/global.css";
@import "./modules/fluid-responsive.css";
@import "./modules/scrollbars.css";
@import "./modules/accordion.css";
@import "./modules/tooltip.css";

.js-reveal-title {
    opacity: 0;
}
.split-line,
[data-mask-text] {
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.split-line {
    transform: translateY(100%);
}
[data-mask-button] .button_icon.w-embed {
    order: 10;
}
[data-mask-button] .button_icon.w-embed + div {
    max-width: fit-content !important;
}
.nav_menu_link-wrapper.w--current {
    margin-left: 0;
}
.nav_wrapper-mobile
    .navbar_menu-trigger.is-open
    + div
    .menu_wrap
    .nav_menu.w-nav-menu {
    display: block !important;
}
.horizontal-divider {
    transform: scaleX(1);
    transform-origin: left;
}

.deliverables_image-wrapper {
    overflow: hidden; /* Hides scrollbars but prevents scrolling */
    /* Alternatively, use the below properties if you want to enable scrolling but hide scrollbars */
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.deliverables_image-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.js-accordion-item.active .js-accordion-body {
    opacity: 1;
}

.js-accordion-item.active .js-accordion-head .plus-icon {
    height: 0;
}
.footer-link-arrow {
    order: 100;
}

.js-accordion-head:hover .info_accordion-icon {
    transform: rotate(90deg);
}
.js-accordion-item.active .js-accordion-head:hover .info_accordion-icon {
    transform: rotate(0);
}
.info_accordion-icon {
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
